[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aiogram = ">3.0.0b"
aiohttp-socks = "*"
pyyaml = "*"

[dev-packages]

[requires]
python_version = "3.11.3"

[pipenv]
allow_prereleases = true
